body {
  margin: 0 auto;

  font-size: 15px;
  line-height: 1.6;
  font-family: "Lato", Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  padding: 20px 0 17px;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.header__logo {
  padding: 0 39px;

  font-weight: 700;
  font-size: 25px;
  font-family: "Lato", Verdana, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -0.27px;

  cursor: pointer;
}

sub {
  bottom: 1px;
  left: -1.5px;

  font-size: 90%;
  color: #c9605c;
}

.wrapper__header {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  width: 371px;
  margin-top: 9px;
  margin-right: 87px;
}

.navigation {
  display: flex;
  padding-left: 47px;

  list-style-type: none;
  font-size: 12px;
  text-transform: uppercase;
}

.navigation__item {
  position: relative;

  margin-left: 29px;
}
.navigation__item:first-child {
  margin-left: 0;
}

.navigation__item:nth-child(4) {
  margin-left: 30px;
}

.navigation__item::after {
  content: "\e800";
  position: absolute;
  top: 3px;
  left: 100%;

  display: block;
  margin: -3px 0 0 14px;

  font-family: "fontello";
  color: #494e62;
}

.navigation__item:last-child::after {
  display: none;
}


.navigation li.active a,
.navigation__link:hover {
  color: #f06c64;
}

.navigation__link {
  color: #ffffff;

  cursor: pointer;

  transition: color 0.1s linear;
}

/* Section Slider*/

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
}

.arrow {
  position: relative;

  cursor: pointer;
} 
.arrow__left {
  position: absolute;
  top: 47%;
  right: -57px;
}

.phone {
  margin-bottom: 50px;
}
.phone__vertical {
  padding-top: 53px;
  padding-right: 69px;
}

.phone__horizontal {
  padding-bottom: 122px;
}

.arrow__right {
  position: absolute;
  top: 47%;
  right: 40px;

  transform: rotate(180deg);
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.arrow:hover {
  animation: bounce 1s;
}

/* Section SERVICES */
.section {
  overflow: hidden;

  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.section__title {
  padding-top: 56px;
  padding-left: 40px;

  font-weight: 900;
  font-size: 30px;
  font-family: "Lato", Verdana, sans-serif;
  color: #666d89;
}

.section__text {
  margin-top: 12px;
  padding-left: 40px;

  font-weight: 300;
  font-size: 18px;
  font-family: "Lato", Verdana, sans-serif;
  color: #767e9e;
}

.services {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 58px;
}

.services__item {
  position: relative;

  width: 33.33333%;
  margin-bottom: -56px;
  padding: 24px 12px 58px 118px;
}

.services__item_third-column {
  padding-left: 80px;
}
.services__item_second-column {
  padding-left: 99px;
}

.services__icon {
  position: absolute;
  top: 30px;
  left: 41px;
  z-index: 1;
}

.services__icon_second-column {
  left: 20px;
}

.services__icon_third-column {
  left: 0;
}

.services__title {
  margin-bottom: 5px;

  font-weight: 900;
  font-size: 16px;
  font-family: "Lato", Verdana, sans-serif;
  color: #666d89;
  letter-spacing: -0.15px;
}

.services__text {
  width: 220px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.8;
  font-family: "Lato", Verdana, sans-serif;
  color: #a8acc0;
}

